<!doctype html>
<html ng-app="PerlerApp">
  <head>
    <title>Sample AngularJS Controller</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">


    <script src="lib/angular.min.js"></script>
    <script src="lib/xml2json.min.js"></script>

    <script src="PerlerApp.js"></script>
    <script src="managers/BeadManager.js"></script>
    <script src="controllers/GridController.js"></script>
  </head>
  <body>
    <div id="grid-container" ng-controller="GridController">
      <table>
        <tr ng-repeat="row in data">
          <td class="editor-cell" 
              ng-repeat="col in row track by $index"
              ng-class="{circle : isSet($parent.$index, $index), 'outer': !isSet($parent.$index, $index)}"
              ng-style="{'background-color': isSet($parent.$index, $index) ? getColor($parent.$index, $index) : '#FFFFFF'}"
              ng-click="setColor($parent.$index, $index)"
              >
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
