<!doctype html>
<html ng-app="PerlerApp">
  <head>
    <title>Sample AngularJS Controller</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">


    <script src="lib/angular.min.js"></script>

    <script src="PerlerApp.js"></script>

    <script src="model/ImageModel.js"></script>

    <script src="managers/BeadManager.js"></script>
    <script src="managers/ImageManager.js"></script>
    <script src="controllers/GridController.js"></script>
  </head>
  <body>
    <div id="grid-container" ng-controller="GridController">
      <table>
        <tr ng-repeat="row in data">
          <td class="editor-cell"
              ng-repeat="col in row track by $index"
              ng-class="{circle : isSet($index, $parent.$index), 'outer': !isSet($index, $parent.$index)}"
              ng-style="{'background-color': isSet($index, $parent.$index) ? getColor($index, $parent.$index) : '#FFFFFF'}"
              ng-click="setColor($index, $parent.$index)"
              title="{{getName($index, $parent.$index)}}"
              >
          </td>
        </tr>
      </table>
      <form>
        <input type="file" ng-file-select="onFileSelect($files)" >
      </form>
    </div>
  </body>
</html>
